<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.sunstock.dao.mapper.StockMapper">
                                     
    <insert id ="insertStock" parameterType ="java.util.List">
        insert into stock
        <trim prefix = "(" suffix = ")" suffixOverrides = ",">
               CODE,
               NAME,
               STARTPRICE,
               ENDPRICE,
               HIGHESTPRICE,
               LOWESTPRICE,
               TURNOVER,
               VOLUME,
               TRADEDATE
        </trim> values
        <foreach collection= "list" item = "item" index = "index" separator = ",">
           (
                #{item.code, jdbcType = VARCHAR},
                #{item.name, jdbcType = VARCHAR},
                #{item.startPrice, jdbcType = DOUBLE},
                #{item.endPrice, jdbcType = DOUBLE},
                #{item.highestPrice, jdbcType = DOUBLE},
                #{item.lowestPrice, jdbcType = DOUBLE},
                #{item.turnover, jdbcType = BIGINT},
                #{item.volume, jdbcType = BIGINT},
                #{item.tradeDate, jdbcType = TIMESTAMP}
            )
        </foreach>
    </insert>
    
    <select id="queryStocks" resultType="HashMap" parameterType="HashMap">
    	select * from stock where 1 = 1 
    	<if test="code != null">
    		and CODE = #{code,jdbcType=VARCHAR}
    	</if>
    	order by CODE,TRADEDATE DESC
    </select>

</mapper>
